@font-face {
    font-family: 'amore_mio';
    src: url('webfontkit-20230611-164926/amoremiopersonaluse-yap5-webfont.woff2') format('woff2'),
         url('webfontkit-20230611-164926/amoremiopersonaluse-yap5-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gobold';
    src: url('webfontkit-20230611-170330/gobold_bold-webfont.woff2') format('woff2'),
         url('webfontkit-20230611-170330/gobold_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    padding: 0;
    margin: 0;
    background:#f3fafd;
}
.navbar,
.footer {
    background:#45b3e0;
}
.logo-hover{
    display: none;
}
.logo-hover,
.logo{
    width: 90%;
    height: auto;
    cursor: pointer;
}
.logo{
    display: block;
}
.nav-logo{
    width: 5%;
    height: 5%;
}
.nav-logo:hover .logo{
    display: none;
}
.nav-logo:hover .logo-hover{
    display: block;
}
.navbar-brand {
    font-family: 'amore_mio';
}
.navbar-brand,
.nav-link{
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.navbar-brand:hover,
.nav-link:hover {
    color: #c9e9f6;
}
.navbar-collapse {
    justify-content: flex-end;
}
.carousel-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.btn-primary {
    background: #45b3e0;
    border: #45b3e0
}
.btn-location {
    width: 10%;
    min-width: 100px;
    max-width: 145px;
    margin-right: 25px;
    margin-left: 25px;
}
.btn-send {
    width: 10%;
    min-width: 100px;
    max-width: 145px;
}
.staff {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.staff-name {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.staff img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}
.footer{ 
    top: auto;
    bottom: 0;
    width: 100%;
    display: inline-block;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    padding-bottom: 56.%;
  }
  
.video-container iframe {
    width: 100%;
    height: 100%;
  }
  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this value to fit your needs */
  }