body {
    padding: 0;
    margin: 0;
    background:#f3fafd;
}
.navbar {
    background:#45b3e0;
}
.logo-hover{
    display: none;
}
.logo-hover,
.logo{
    width: 90%;
    height: auto;
    cursor: pointer;
}
.logo{
    display: block;
}
.nav-logo{
    width: 5%;
    height: 5%;
}
.nav-logo:hover .logo{
    display: none;
}
.nav-logo:hover .logo-hover{
    display: block;
}
.navbar-brand,
.nav-link{
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #c9e9f6;
}
.navbar-collapse {
    justify-content: flex-end;
}